<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style.css">
        <title>Biblioteca Virtual</title>
    </head>
    <body>
        <header>
            <div id="title">
                <h1>BIBLIOTECA</h1>
                <h1>VIRTUAL</h1>
            </div>
            <form>
                <input type="text" placeholder="Busque por título, autor ou #ID"/>
            </form>
            <ul>
                <a href="#"><li>Início</li></a>
                <a href="#"><li>Emprestimos</li></a>
                <a href="#"><li>Acervo</li></a>
                <a href="#" id="login-btn"><li>Login</li></a>
            </ul>
        </header>

        <main>
            <aside>
                    <h3> A procura de uma nova leitura?</h3>
                    <h2>Agora ficou mais fácil para consultar nosso acervo e seus emprestimos.</h2>
                    <h3>Cadastre-se e aproveite nossos serviços.</h3>
            </aside>

            <article>
                <img src="image.png">
            </article>
        </main>
        <div class="conteudo">
            <div class="carousel">
                <article class="livro">
                    <img src="">
                    <h1>1</h1>
                </article>
                <article class="livro">
                    <img src="">
                    <h1>2</h1>
                </article>
                <article class="livro">
                    <img src="">
                    <h1>3</h1>
                </article>
                <article class="livro">
                    <img src="">
                    <h1>4</h1>
                </article>
                <article class="livro">
                    <img src="">
                    <h1>5</h1>
                </article>
            </div>
        </div>

    </body>
</html>